<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fifteen.puzzle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name=".Vizitka"
            android:label="@string/title_activity_vizitka" >
        </activity>
        <activity
            android:name=".Nastavitve"
            android:label="@string/title_activity_nastavitve" >
        </activity>
        <activity
            android:name=".Pomoc"
            android:label="@string/title_activity_pomoc" >
        </activity>
        <activity
            android:name=".NajboljsiCasi"
            android:label="@string/title_activity_najboljsi_casi" >
        </activity>
        <activity
            android:name=".Igra"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_igra" >
        </activity>
        <service android:enabled="true" android:name=".Glasba" />
    </application>

</manifest>